.App 
{
  text-align: center;
  margin-top: 50px;
}
.pet 
{
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.pet-info 
{
  text-align: left;
}
.pet-info p 
{
  margin: 5px 0;
}